In [2]:
import cx_Oracle
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import re
plt.rcParams["font.family"] = "Malgun Gothic"

In [13]:
db = cx_Oracle.connect("c##lm","lm",'localhost:1521/xe')
cursor = db.cursor()
cursor.execute("select * from prodcl_A ")
x = cursor.fetchall()
df = pd.DataFrame(x)
cursor.execute("select column_name from user_tab_columns where table_name='prodcl_A'")
col = cursor.fetchall()
list1 = []
for i in col:
    for j in i:
        list1.append(j)
df.columns = ["제휴사","대분류코드", "중분류코드", "중분류명", "소분류명"]
df.head()

  제휴사  대분류코드 중분류코드  중분류명             소분류명
0   A      1  0110  차/커피             수입식품
1   A      1  0111    기타  PECK Restaurant
2   A      1  0111    기타     PECK Enoteca
3   A      1  0111    기타      PECK Fruits
4   A      1  0111    기타         PECK G&C

In [14]:
df.중분류명.value_counts()

스포츠       79
캐주얼       59
가공식품      55
골프용품      52
남성 트랜디    32
남성캐주얼     30
명품        25
수산품       20
남성정장      16
섬유잡화      16
농산물       14
액세서리      14
아동        14
트래디셔널     13
생활잡화      12
화장품       12
침구/수예     10
가구        10
구두        10
주방용품      10
젓갈/반찬      9
피혁잡화       9
기타         9
커리어        8
주방가전       8
육류         7
식기         7
축산가공       6
일용잡화       6
대형가전       5
주류         5
차/커피       4
셔츠         4
모피/피혁      4
란제리/내의     4
시티웨어       4
통신/컴퓨터     4
악기         3
기타의류       3
소형가전       3
디자이너       3
건강식품       3
문구/팬시      2
보석         2
전자/전기      1
교복         1
블라우스       1
준보석/시계     1
웨딩         1
Name: 중분류명, dtype: int64