과제1_0524. 산탄데르 고객 만족 예측 모델을 생성하고 평가를 아래를 참조하여 수행하세요(XGBoost 모델 학습과 하이퍼 파라미터 튜닝)

- 데이터 읽어오기 : cust_df = pd.read_csv("./dataset/santander/train_santander.csv", encoding='latin-1')
- 데이터 전처리 : var3 피처 값 최빈값 2로 대체 및 ID 피처 드롭
- 데이터 분리 : 학습, 검증, 평가용
- 검색공간 설정
    - max_depth는 5에서 15까지 1간격으로,
    - min_child_weight는 1에서 6까지 1간격으로
    - colsample_bytree는 0.5에서 0.95사이,
    - learning_rate는 0.01에서 0.2사이 정규 분포된 값으로 설정
- 목적함수 설정
- 최적 하이퍼파라미터 산출
- 최적 하이퍼파라미터 기반 학습 및 예측
- 평가(ROC AUC)
- 변수 중요도 시각화

# 데이터 읽어오기

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
import warnings
warnings.filterwarnings('ignore')

df = pd.read_csv("./dataset/train_santander.csv", encoding = 'latin-1')
print('dataset shape:', df.shape)
df.head(3)

dataset shape: (76020, 371)

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.17,0
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.03,0
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.77,0

# 데이터 전처리