### 함수

- 특정 목적을 가진 독립된 코드 집합
    - 두 수를 입력받아 더한 값을 계산하는 코드
    - 더한 값을 계산하는 코드가 프로그램 여러 곳에서 사용된다고 할 때 이 부분만을 따로 구성하여 재사용하면 효율화할 수 있음
- 사용자 함수는 def로 시작하여 정의

In [6]:
def add_number(n1,n2):
    ret = n1 + n2
    return ret

def add_txt(t1, t2):
    print(t1+t2)

a = add_number(10,25)
print(a)
b = add_number(20, 25)
print(b)

c = add_txt("대한민국 ","만세!!!")

35
45
대한민국 만세!!!

In [14]:
# 함수 인자 : 기본적으로 인자 순서에 대응되는 값을 함수 코드에 대입

def add_txt(t1, t2="파이썬"):  # 파이썬을 기본값으로 대입하려고 하는 것. 이 기본 인자는 무조건 마지막에 위치해야 함.
    print(t1 + ' : ' + t2)     
    
add_txt( '베스트')
add_txt(t2="대한민국", t1="1등")  # 키워드 인자에 의한 값 전달. 인자의 순서는 무시

베스트 : 파이썬
1등 : 대한민국

In [15]:
def func1(*args): # 인자의 개수가 불명환 경우 가변 인자 사용. args는 함수 내부에서 튜플로 처리
    print(args)

func1()       # 빈 튜플 ()이 출력됨
func1(3, 5, 1, 5)

def func2 (width, height, **kwargs): # 키워드 인자가 불명확한 경우 **kwargs를 사용. 함수 내부에서 사전으로 처리
    print(kwargs)

func2(10,20)  # 빈 사전 {}이 출력됨. print(kwargs) 라고 되어 있기 때문에 빈 사전이 출력되는 것.
func2(10, 20, depth = 50, color = 'blue')

()
(3, 5, 1, 5)
{}
{'depth': 50, 'color': 'blue'}

In [16]:
def func2 (width, height, **kwargs):
    return width, height, kwargs

func2(10, 20, depth = 50, color = 'blue')

(10, 20, {'depth': 50, 'color': 'blue'})

#### 인자(입력값)와 리턴값(결과값) 여부에 따른 함수 유형

In [2]:
# 사용자 함수 def
#입력값
def say():
    return 'Hi!'    # 결과값 return

say()

'Hi!'

In [46]:
# 입력값이 있고 결과값이 없는 함수 

def add(a,b):
    print(f'{a},{b}의 합은 {a+b}입니다.')
    print('%d,%d의 합은 %d입니다.'%(a,b,a+b))
    
# add(3,4)  #add라는 매개변수를 줘야 결과값이 나옴.
a = add(3,4)
print(a)

3,4의 합은 7입니다.
3,4의 합은 7입니다.
None

In [44]:
# 결과 값은 오직 return 명령어로만 돌려 받을 수 있음. 위 None은 리턴이 없었기에 결과값이 안나오는 것

def add(a,b):
    return a+b
a = add(3,4)
print(a)

7

In [17]:
# 입력값도 없고 결과값도 없는 함수


def say():
    print('Hi!')
    
say()

a = say()
print(a)

Hi!
Hi!
None

In [1]:
# 입력값도 있고 결과값도 있는 함수


def max(a,b,c):
    if a>b:
        if a>c:
            return a
        elif a<c:
            return c
    if a<b:
        if b>c:
            return b
        else:
            return c

max(10,20,30)

30

In [2]:
def math(x, y, z):      # print(math(int(input("숫자1 : ")), int(input("숫자2 : ")), input("기호 : ")))
    if z == '*':
        return x*y
    elif z== '/':
        return x/y
    elif z== '+':
        return x+y
    elif z== '%':
        return x%y
    elif z== '^':
        return x**y
    elif z== '-':
        return x-y
    elif z== '//':
        return x//y
    else:
        return

# print(math(int(input("숫자1 : ")), int(input("숫자2 : ")), input("기호 : ")))
math(10,2,'//')

5

In [3]:
def com(a,b):
    if a>b:
        return f'{a} bigger than {b}'
    elif a<b:
        return f'{a} smaller than {b}'
    else:
        return f'{a} equal {b}'
com(3,3)

'3 equal 3'

In [127]:
def com(a,b,c):
    if a>b:
        return f'{a} bigger than {b}'
    elif a<c:
            return c
    if a<b:
        if b>c:
            return b
    else:
         return c

In [8]:
# 여러 개의 입력값을 받는 함수 만들기
# *args 처럼 입력변수명 앞에 *를 붙이면 입력값들을 전부 모아서 튜플로 만들어 준다.

def add_many(*args):
    add = 0
    for i in args:
        add += i
    return add

add_many(1,2,3,4,5,6,7,8,9,10)

55

In [9]:
# 함수의 반환 값은 언제나 하나임 - 결과 값으로 튜플 값 하나를 갖게 됨.
def add_and_mul (a,b):
    return a+b, a*b

result = add_and_mul(3,4)  #
print(result)

(7, 12)

In [35]:
def add_mul(choice, *args):
    if choice == "+":
        result = 0
        for i in args:
            result += i
        return result
    elif choice == "*":
        result = 1           # 곱셈이기에 1로 놔줘야 함. 0이면 결과 값이 0으로 나오기 때문
        for i in args:
            result *= i
        return result
    else:
        print("수행할 수 없는 연산입니다.")
            
add_mul("+",1,2,3,4,5)

15

In [10]:
# add_mul() 함수를 정의하여 1,2,3,4,5를 입력 값으로 적용해 덧셈, 곱셈 연산을 수행하세요.

def add_mul(choice, *args):             # 입력 값은 똑같은데 연산을 선택하는 것. 그래서 choice를 넣는 것
    if choice == "add":                 # 그래서 연산 방법을 조건으로 만드는 것.
        result = 0 
        for i in args:
            result += i
    elif choice == "mul":
        result = 1
        for i in args:
            result *= i
    return result

result = add_mul("add", 1,2,3,4,5)
print(result)

result = add_mul("mul", 1,2,3,4,5)
print(result)

15
120

In [38]:
# 뻴셈, 나눗셈 멀티 계산 함수를 작성

def sub_div(choice, *args):           
    if choice == "-":                 
        result = args[0] 
        for i in args[1:]:
            result -= i
    elif choice == "/":
        result = args[0]
        for i in args[1:]:
            if i == 0:
                return print("오류")
            result /= i
    return round (result,4)

print(sub_div("-",2,4,6,8,10))
print(sub_div("/",2,4,6,8,10))
print(sub_div("/",2,0,4,6,8,10))

-26
0.001
오류
None

#### 지역변수와 전역변수
- 지역변수는 함수 내부에서만 유효하고
- 전역변수는 코드 전반에 걸쳐 유효
- 함수의 인자는 지역변수

In [40]:
param = 10 
strdata = '전역변수'

def func1():
    strdata = '지역변수'
    print(strdata)        # ''가 안 붙어있으니까 변수. 
    
func1()

지역변수

In [42]:
print(strdata)      # 함수 안에서가 아니면 전역변수로 출력

전역변수

In [46]:
param2 = 10 

def func2(param2):
    param2 = 1       # 함수 안에서 파람2에 업데이트한 값은
    
print(param2)        # 함수가 아닌 밖에서 출력하면 상관이 없고, 전역변수가 출력되는 것

10

In [57]:
# 함수 안에서 전역변수를 출력하려면

param = 10

def func3() :
    global param      # 함수 내부에서 전역변수를 사용하려면 'global' 키워드를 이용해 전역변수를 사용할 수 있다.
    param= 50  
func3()
print(param)

50

In [115]:
param = 10
def func2() :                   # 왜 여기 가로에는 파람을 입력?
    param = 1
    
func2()
print(param)

10

In [119]:
param = 10
strdata = '전역변수'

def func1() :
    strdata = '지역변수'
    print(strdata)                    # 지역변수가 출력됨
                       

def func2(param) :                   #
    param = 1
    
    
def func3() :
    global param
    param = 50
    
func1()
print(strdata)  # 전역변수가 출력됨
print(param)
func2(param)
print(param)
func3()
print(param)

10
50

In [12]:
# 함수 안에서 선언된 변수의 효력 범위

a = 1             # 변수 a 

def vartest(a):   # 입력값은 있고
    a = a + 1     # 출력값이 없음
 
print(vartest(a))  # 그래서 반환값이 없는 것
print(a)           # 그냥 전역변수 1이 나온 것

None
1

In [67]:
# 함수 안에서 함수 밖의 변수를 변경하는 방법 - return 이용
# 전역변수를 함수 안에서 쓰려면 global 또는 return 사용

a = 1
def vartest(a):
    a = a + 1
    return a
 
a = vartest(a)
print(a)

2

In [14]:
# global 명령을 이용하는 방법
a = 1
def vartest():
    global a
    a = a + 1

vartest()
print(a)

2

#### 함수 리턴값 : return
- 함수는 한 개 이상의 값을 리턴할 수 있으며 리턴값이 없을 수도 있다. 리턴값이 없는데 값이 나오는 건 print 함수 명령에 의해서 값이 반환된 것
- 리턴 값이 여러 개인 경우에는 튜플로 리턴값을 만들어 리턴

In [70]:
def reverse(x,y,z):
    return z, y, x

ret =reverse(1,2,3)
print(ret)

r1, r2, r3 = reverse('a','b','c')
print(r1,r2,r3)
print(r1);print(r2);print(r3)   # 튜플의 요소 개수만큼 나누어서 리턴값을 개별적으로 받을 수 있음

(3, 2, 1)
c b a
c
b
a

## 파일 입출력

In [68]:
# 현재 우리가 있는 작업 폴더를 알려줌
%pwd

'C:\\hmkd1\\m1_programming'

In [74]:
# 폴더 경로 이동
import os
# os.chdir()               # os의 원하는 위치에 폴더를 변경한다.
                         # 'C:\\hmkd1\\m1_programming' 에서 역슬래시 \\ 두개를 /로 써도 됨

In [75]:
# 파일 읽고 쓰기
f = open('test1.txt','w')   # write의 약자 w, open은 내장함수 
# (쓸려고 하는 제목, 쓸건지 읽을 건지)
f.close()

In [35]:
f = open('test1.txt','w')
for i in range(1,11):               # 10개의 줄을 만들어서 ~번째 줄입니다를 나타낼 것임.
    data = '%d번째 줄입니다.\n'%i
    f.write(data)
f.close()

In [45]:
f = open('test1.txt','r') # read의 약자 r
line = f.readline()
print(line)
f.close()

1번째 줄입니다.

In [37]:
f = open('test1.txt','r')
for i in range(1,11):
    line = f.readline()
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [38]:
f = open('test1.txt','r')
while True:
    line = f.readline()
    if not line: break
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [43]:
# f.read()는 파일 내용 전체를 문자열로 반환
f = open('test1.txt','r')
data = f.read()
print(data)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.
11번째 줄입니다.
12번째 줄입니다.
13번째 줄입니다.
14번째 줄입니다.
15번째 줄입니다.

In [40]:
f = open('test1.txt','a') #add의 약자 a
for i in range(11,16):
    data ='%d번째 줄입니다.\n'%i
    f.write(data)
f.close()

In [44]:
f = open('test1.txt','r')
data = f.read()
print(data)
f.close()

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.
11번째 줄입니다.
12번째 줄입니다.
13번째 줄입니다.
14번째 줄입니다.
15번째 줄입니다.

In [53]:
# with 문과 같이 사용
# f.close 안해도 자동으로 닫히는 함수
with open('foo.txt','w') as f:
    f.write('파이썬을 배웁시다.')

In [54]:
with open('foo.txt','r') as f:
    data = f.read()
    print(data)

파이썬을 배웁시다.

In [51]:
with open('text2.txt','w') as f:
    for i in range(1,11):
        data = f'{i}번째 줄입니다.\n'
        f.write(data)

In [52]:
with open('text2.txt','a') as f:
    for i in range(11,16):
        data = f'{i}번째 줄입니다.\n'
        f.write(data)

In [56]:
with open('text2.txt','r') as f:
        data = f.read()
        print(data)

1번째 줄입니다.
2번째 줄입니다.
3번째 줄입니다.
4번째 줄입니다.
5번째 줄입니다.
6번째 줄입니다.
7번째 줄입니다.
8번째 줄입니다.
9번째 줄입니다.
10번째 줄입니다.
11번째 줄입니다.
12번째 줄입니다.
13번째 줄입니다.
14번째 줄입니다.
15번째 줄입니다.

## 내장함수, 외장함수
https://codedrive.tistory.com/91

In [1]:
# 내장함수
print(abs(-3))
print(all([1,2,3,0])) # x가 모두 참이면 True, 거짓이 하나라도 있으면 False
print(any([1,2,3,0])) # x가 하나라도 참이면 True, 모두 거짓이면 False
print(chr(65))        # 아스키 코드

3
False
True
A

In [5]:
# 사용할 수 있는 사용자함수 대신 간단하게 쓸 수 있는 람다 함수

sum = lambda a,b:a+b     
sum(3,4)

7

In [7]:
def sum(a,b):
    return a+b
print(sum(3,4))

7

In [64]:
# 람다로 여러개 묶어서 계산도 가능

myList = [lambda a,b: a+b,lambda a,b: a*b, lambda a,b,c,d: a/b*c+d]
print(myList[0](3,4))
print(myList[1](3,4))
print(myList[2](10,5,2,5))

7
12
9.0

In [8]:
a=[lambda a,b:a+b,lambda a,b:a-b,lambda a,b:a*b,lambda a,b:a/b]
for i in range(0,4):
    print(a[i](2,5))

7
-3
10
0.4

In [65]:
print(len('python'))
print(len([1,2,3]))
print(len([1,2,'a']))

6
3
3

In [13]:
print(list(range(5)))
print(list(range(1,6)))
print(list(range(1,10,2)))
print(list(range(0, -10, -1)))
print(list(range(0,-10)))         # 음수로 가려면 간격 -1이 필요

[0, 1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 3, 5, 7, 9]
[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]
[]

In [69]:
# 몫과 나머지를 같이 구해주는 함수 divmod()

print(divmod(7,3))

(2, 1)

In [71]:
# 순서가 있는 자료형을 입력으로 받아, 인덱스 값을 포함한 enumerate 객체를 리턴
# 값만 아니라 인덱스도 필요할 때 enmerate 함수를 사용
for i, name in enumerate(['james','tom','susan']):        # i=인덱스, name=변수. 
    print(i,name)

0 james
1 tom
2 susan

In [14]:
# 실행 가능한 문자열 입력으로 받아 문자열을 실행한 결과값을 리턴
# 숫자 연산은 따옴표가 필요없는데 숫자로 된 문자열을 받으면 연산되게 하는 함수

print(eval('1+2'))

3

#### 외장함수

In [16]:
# 외장함수 : 전 세계 파이썬 사용자들이 만든 유용한 프로그램을 모아 놓은 파이썬 라이브러리. 
# pickle은 객체의 형태를 유지하면서 파일에 저장하고 불러올 수 있게 하는 모듈
# 데이터를 바이너리로 처리해주는 pickle 함수
# 그래서 메모리 사이즈는 작음. 저장할 때 아주 효과적으로 할 수 있음.
# 고수준일수록 우리가 보기에는 쉬우나 용량이 크고, 우리가 보기에는 힘들지만 용량이 작은 피클함수


import pickle
f = open('test.txt','wb') 
data = {1:'python', 2:'you need'}
pickle.dump(data,f)  # 저장할 때 dump함수
f.close()

In [17]:
import pickle
f = open('test.txt','rb') 
data = pickle.load(f)  # 읽을 때 load함수
print(data)
f.close()

{1: 'python', 2: 'you need'}

In [71]:
import os    # os는 외장함수
os.environ['PATH']

'C:\\Users\\h\\Anaconda3;C:\\Users\\h\\Anaconda3\\Library\\mingw-w64\\bin;C:\\Users\\h\\Anaconda3\\Library\\usr\\bin;C:\\Users\\h\\Anaconda3\\Library\\bin;C:\\Users\\h\\Anaconda3\\Scripts;C:\\WINDOWS\\system32;C:\\WINDOWS;C:\\WINDOWS\\System32\\Wbem;C:\\WINDOWS\\System32\\WindowsPowerShell\\v1.0\\;C:\\WINDOWS\\System32\\OpenSSH\\;C:\\anaconda3;C:\\anaconda3\\Library\\bin;C:\\anaconda3\\Library\\mingw-w64\\bin;C:\\anaconda3\\Scripts;C:\\Users\\h\\AppData\\Local\\Microsoft\\WindowsApps;'

In [19]:
# 현재 폴더 확인

%pwd
#os.getcwd()     # %pwd랑 똑같은 함수

'C:\\hmkd1\\m1_programming'

In [84]:
# 폴터변경
os.chdir('C:\\hmkd1')

In [86]:
os.chdir('C:\\hmkd1\\m1_programming')

In [90]:
!dir #현재 디렉토리 상황

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 9032-DD10

 C:\hmkd1\m1_programming 디렉터리


 C:\hmkd1\m1_programming 디렉터리


 C:\hmkd1\m1_programming 디렉터리

파일을 찾을 수 없습니다.

In [95]:
# 파일명 바꾸기
import os
os.rename('test1.txt','test_new.txt')

PermissionError: [WinError 32] 다른 프로세스가 파일을 사용 중이기 때문에 프로세스가 액세스 할 수 없습니다: 'test1.txt' -> 'test_new.txt'

In [20]:
# glob() 함수는 인자로 받은 패턴과 이름이 일치하는 모든 파일과 디렉토리의 리스트를 반환
import glob
glob.glob('C:\\hmkd1\\m1_programming/*.txt')   # * == 모든 파일

['C:\\hmkd1\\m1_programming\\foo.txt',
 'C:\\hmkd1\\m1_programming\\test.txt',
 'C:\\hmkd1\\m1_programming\\test1.txt',
 'C:\\hmkd1\\m1_programming\\text2.txt']

## 비교

#### 파이썬 패키지,  모듈, 함수, 클래스
- 코드 작성 시 이미 만들어져 있는 함수들을 활용하면 보다 효율적이고 빠르게 개발 가능
- 이미 만들어져 있고 안정성이 검증된 함수들을 성격에 맞게 하나의 파이썬 파일에 묶어 만들어 놓을 것을 모듈이라 함
- 외부 모듈에 있는 함수들을 활용하려면 이 모듈을 먼저 가져와서 사용해야 하는데 이것을 모듈을 임포트한다고 한다.
- 파이썬 모듈이 하나의 파이썬 파일이라면 패키지는 디렉토리로 볼 수 있다.

패키지
1. 라이브러리라고도 부름
2. 특정 기능과 관련된 여러 모듈을 한 그룹으로 묶은 것
3. 패키지 안에 서브 패키지가 있을 수도 있다.
4. import 패키지/모듈, from 패키지/모듈 import 서브 패키지/모듈
- 넌파이, 판더스 등 규모가 큰 모듈 또는 클래스들이 포함되어있는 것
- 패키지는 .를 사용함

   
모듈
1. 여러 기능들이 뭉쳐진 하나의. py파일
2. 함수, 클래스, 변수 등 포함
3. import 모듈

함수
1. 하나의 기능을 가진 코드의 집합
2. 함수를 사용한다 = 함수를 호출한다
3. 함수 사용 형태: 함수( )
   - 필요한 경우 () 안에 매개변수 또는 옵션
4. 종류
   - 내장 함수(built in function)
   - 외장 함수: import 해주어야 함
   
클래스   
- 파이썬은 객체 지향 언어로 클래스를 기반으로 객체를 만들어 사용한다.
    -  예를 들어 붕어빵을 계속 만들면 일이 많기에 붕어빵 틀을 만들어서 틀을 찍어내는, 클래스는 붕어빵의 기계이고 붕어빵이 객체며 그 안에는 의도했던
- 한 파이썬 파일(. py) 내에서 "class class명():"을 통해 클래스 선언
- 객체지향언어; 자바, 파이썬

In [76]:
# time 모듈

import time

print('5초간 프로그램을 정지합니다.')
time.sleep(5)                                 # sleep() 함수
print('5초가 지나갔습니다.')

5초간 프로그램을 정지합니다.
5초가 지나갔습니다.

In [77]:
# 사용자 작성 모듈
with open('mymodule.py','w') as f:
    f. write(
"""
def add_txt(t1, t2):
    return t1+ ':' + t2
def reverse(x,y,z):
    return z, y, x
""")

In [78]:
with open('mymodule.py','r') as f:
    data = f.read()
    print(data)

def add_txt(t1, t2):
    return t1+ ':' + t2
def reverse(x,y,z):
    return z, y, x

In [79]:
import mymodule

ret1 = mymodule.add_txt('대한민국', '1등')    # 마이모듈에 있는 사용자 함수 add_txt를 쓰겠다는 것
print(ret1)

대한민국:1등

In [80]:
ret2 = mymodule.reverse(1,2,3)
print(ret2)

(3, 2, 1)

In [81]:
# 클래스
class MyClass:
    var = '안녕하세요'
    def  sayHello(self): # 클래스 안에는 함수와 변수를 만들 수 있음. 클래스 안에서 쓰는 함수는 메소드라고 함.
        print(self.var)
        
obj = MyClass() #MyClass 인스턴스 객체 생성
print(obj.var)  #obj에 있는 모든 자원을 쓸 수 있음
print(obj.sayHello())       # 메소드는 함수니까 ()
                            # None이 나오는 것은 반환값이 없으니까 나오는 것.

안녕하세요
안녕하세요
None

#### 패키지

!pip list       # 설치되어있는 프로그램 보는 것
1. pandas가 있는지 확인
2. 없으면     !pip install pandas   하기



https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.info.html   판다스의 도큐먼트가 있음. input/output

In [89]:
# 패키지

import pandas as pd   # 판다스 약자 pd

df = pd.DataFrame({'a':[1,2,3],'b':[3,4,6],'c':[7,8,9]})      # 딕셔너리 타입으로 만든 것
df

   a  b  c
0  1  3  7
1  2  4  8
2  3  6  9

In [93]:
# 배열 타입과 columns를 이용해 만드는 패키지

import numpy as np   # 판다스 약자 pd

df2 = pd.DataFrame(np.array([[1,2,3],[4,5,6],[7,8,9]]),
                   columns = ['a', 'b', 'c'])
df2

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [94]:
# data를 입력하고 columns를 이용해 만드는 패키지

data = np.array([(1, 2, 3), (4, 5, 6), (7, 8, 9)])
df3 = pd.DataFrame(data, columns=['a','b','c'])
df3

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [21]:
# [과제] 내장함수를 이용해서 list = [0,1,2,3,4,5,6]에서 2를 삭제 후 출력하세요. (3가지 방법)
list = [0,1,2,3,4,5,6]

#list.remove(2)  # remove(값)
#print(list)

#del list[2]     # 인덱스
#print(list)

list.pop(2)
print(list)

[0, 1, 3, 4, 5, 6]

In [23]:
# [과제] 내장함수를 이용해서 list = [0,1,2,3,4,5,6]에서 모든 원소를 삭제 후 출력하세요
list = [0,1,2,3,4,5,6]
del list[:]
print(list)

# remove()함수를 사용하려면, remove(0,1,2,3,4,5,6)
# pop()함수는 해당 값을 출력해주고 list에서 제거

[]

In [4]:
# [과제] 람다함수와 적합한 내장함수를 사용하여 아래와 같이 출력하세요
#[1,2,3,4,5] -> [1,4,9,16,25]       3,5,7,9를 합한건데
#[1,2,3,4,5] -> [1,2]

nums1 = [1, 2, 3, 4, 5]
result1 = list(map(lambda n: n**2, nums1))   # map을 이용하면 기존 리스트를 가지고 새로운 규칙을 가진 리스트를 만들 수 있음
print(result1)

nums2 = [1, 2, 3, 4, 5]
result2 = list(filter(lambda n: n < 3, nums2)) # 리스트에서 필요한 원소만 
print(result2)

# 2-2. del(list[2:])

[1, 4, 9, 16, 25]
[1, 2]

In [1]:
x = lambda a:a**2
lst = [x(i) for i in range(1,6)]    # 1~5를 x처럼 처리하겠다.
print(lst)

lst2 = [1, 2, 3, 4, 5]
f_lst2 = filter(lambda a:a<3,lst2)
print(list(f_lst2))

[1, 4, 9, 16, 25]
[1, 2]

In [36]:
# [과제] [1,-3,2,0,-5,6]에서 양수만 필터링해서 출력하세요(내장함수, 사용자함수 각각 이용)

Li = [1,-3,2,0,-5,6]

print(list(filter(lambda x: x > 0, Li)))

TypeError: 'list' object is not callable

In [29]:
def even(arr):
    result=[]
    for i in arr:
        if i > 0:
            result.append(i)
    return result
print(even([1,-3,2,0,-5,6]))

[1, 2, 6]

In [9]:
# [과제] 내장함수를 이용하여 동일한 개수로 이루어진 자료형을 화살표 좌측에서 우측으로 변환하세요
# [1,2,3],[4,5,6] -> [(1,4),(2,5),(3,6)]
# [1,2,3],[4,5,6] [7,8,9] -> [(1,4,7),(2,5,8),(3,6,9)]
# ('abc','def') -> [('a','d'),('b','e'),('c','f')]

x = [1, 2, 3]
y = [4, 5, 6]
print(list(zip(x,y)))

z = [7, 8, 9]
print(list(zip(x,y,z)))

print(list(zip('abc','def')))

[(1, 4), (2, 5), (3, 6)]
[(1, 4, 7), (2, 5, 8), (3, 6, 9)]
[('a', 'd'), ('b', 'e'), ('c', 'f')]

In [41]:
# [과제] 입력으로 들어오는 모든 수의 평균 값을 계산해 주는 함수를 작성한 후 1,2,3을 입력한 결과를 출력하세요.

def sum(mun):
    print(f"합: {eval(mun)}")    #입력된 문자열이 연산이 가능한 형태면 연산해주는 eval 함수
    print(f"평균: {(eval(mun)/len(mun.split('+'))):0.2f}")

###################################################

mun=input("평균값을 구할 숫자를 모두 입력해주세요(콤마로 구분): ")
mun_n=mun.replace(',','+')    #1,2,3 -> 1+2+3

sum(mun_n)

평균값을 구할 숫자를 모두 입력해주세요(콤마로 구분): 5,6,2
합: 13
평균: 4.33

In [42]:
# [과제] 입력으로 들어오는 수가 정해져있지 않을 때의 평균 값을 계산해 주는 함수를 작성한 후 1,2,3을 입력한 결과를 출력하세요.


def avg(*args):
    x = 0
    for i in args:
        x += i
    result= x / len(args)
    return result

r = avg(1,2,3)
print(r)

2.0

In [47]:
# 동일한 사용자 함수를 만들어서 1~100의 합과 200~300의 합을 구하세요.

def sum(first, end):
    result=0
    for i in range(first,end+1):
        result+=i
    return result

print(sum(1,100))   #n~m 사이의 합 구하기
print(sum(200,300))

5050
25250

In [54]:
import numpy as np

np.arange(1,101)

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100])

In [56]:
def sum(*args):
    sum = 0
    for i in args:
       sum += i
    return sum

sum(1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100)

5050

## sort, sorted 모두 key, reverse 매개변수를 갖고 있다.

- reverse : 기본값은 reverse = False(오름차순), reverse = True를 매개변수로 입력하면 내림차순으로 정렬
    - reversed() 함수는 인자로 리스트(list) 뿐만 아니라 튜플(tuple), 문자열(string)과 같은 여러 원소로 이뤄진 자료구조를 받을 수 있습니다.
    - x.reverse()
- key : 정렬을 목적으로 하는 함수를 값으로 넣는다. lambda를 이용할 수 있고 key 값을 기준으로 정렬되고 기본값은 오름차순

In [20]:
# [과제] strings를 다양한 문자가 포함된 순서로 정렬하세요. 문자수가 많은 것부터
strings = ['a', 'ca', 'bar', 'aaaa', 'ababa'] # 같은 알파벳은 문자수 1개로 취급. 그래서 [1,2,3,1,2]
# set 사용해야 함!!! 중복 허용하지 않으니까

strings.sort(key = lambda x: len(set(x)))
strings[::-1]

['bar', 'ababa', 'ca', 'aaaa', 'a']

In [26]:
# [과제] 튜플 형태인 strings를 다양한 문자가 포함된 순서로 정렬하세요,
strings = ('a', 'ca', 'bar', 'aaaa', 'ababa') 
a = list(strings)                     # sort는 튜플의 자료구조를 받을 수 없기 때문에 리스트로 변환
a.sort(key = lambda x: len(set(x)))
a[::-1]

['bar', 'ababa', 'ca', 'aaaa', 'a']

In [27]:
# [과제] url에서 호스트 도메인을 추출하여 출력하세요.
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

x = url.split('/')     # /기준으로 잘라서 리스트가 만들어짐

x[2]          # 도메인이 인덱스 2번째라서

'news.naver.com'

In [30]:
# [과제] url에서 쿼리문을 추출하여 출력하세요.
# url에서 '?'뒤에 표시되는 문자열을 쿼리 문자열이라고 하며 변수=값 사이 &로 구분되어 나열된다.
# 쿼리는 지리
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

do = url.split('?')
print(do)

qs = do[1].split('&')      # 위에서 리스트가 두 개로 나뉘고 ? 뒤로부터 쿼리 문자열이니까 1번
                           # 그리고 & 마다 변수=값 인 쿼리문이 구분되어 나열되니까 &를 없애고 추출
for q in qs:
    print(q)

['http://news.naver.com/main/read.nhn', 'mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601']
mode=LSD
mid=shm
sid1=105
oid=028
aid=0002334601

In [59]:
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

do = url.split('/')
print(do)
print(do[2])

['http:', '', 'news.naver.com', 'main', 'read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601']
news.naver.com

In [65]:
url = 'http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601'

domain = url.split('?')
print(domain)
q = domain[1].split('&')
print(q)


for query in q:
    print(query)

['http://news.naver.com/main/read.nhn', 'mode=LSD&mid=shm&sid1=105&oid=028&aid=0002334601']
['mode=LSD', 'mid=shm', 'sid1=105', 'oid=028', 'aid=0002334601']
mode=LSD
mid=shm
sid1=105
oid=028
aid=0002334601